@model DotCommerce.Models.Person

@{
    ViewBag.Title = "Forbidden";
}

<br />
<h2>Forbidden</h2>
<h4>You're not allowed to view this page.</h4>
<br/>
<h5>Try again after @Html.ActionLink("Login", "Login", "Person", null, null) or @Html.ActionLink("Register", "Register", "Person", null, null)</h5>