@model IEnumerable<ContosoUniversity.Models.Student>

@{
    ViewBag.Title = "CustomPaging";
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true);
    grid.Bind(source: ViewBag.AllStudent, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<h2>Custom Paging</h2>

<div>
    @grid.GetHtml(
         columns: grid.Columns(
         grid.Column("FirstMidName", "First Name"),
         grid.Column("LastName", "Last Name")
         )

</div>

