@model IEnumerable<DotCommerce.Models.Cart>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@using (Html.BeginForm("Create", "OrderDetail", FormMethod.Post))
{

    @Html.DisplayNameFor(model => model.ProductVariant.Product.Title)

    @Html.DisplayNameFor(model => model.ProductVariant.VariantTitle)

    foreach (var item in Model)
    {
        <br />
        @Html.DisplayFor(modelItem => item.ProductVariant.Product.Title)

        @Html.DisplayFor(modelItem => item.ProductVariant.VariantTitle)

    }

    <div>
        @*@Html.ActionLink("CHECKOUT", "Create", "Order", new { obj = Model }, null)*@

        <input type="submit" value="Checkout" class="btn" />
    </div>
}